/* * Define the margins of your page * */
/* @page {
    margin: 100px 25px;
} */

body,
table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    /*font-family: "Lucida Console", Monaco, monospace;*/
    font-size: 11px;
    /* font-size: 0.8rem; */
}

.content-block,
p {
    page-break-inside: avoid;
}

footer  {
    position: fixed; 
    bottom: -40px; 
    left: 0px; 
    right: 0px;
    height: 50px; 
    text-align: center;
    clear: both;
}

main {
    /* Debería ser 150 para respetar el ancho de la plantilla del gobierno */
    /* margin-left: 150px; */
    margin-left: 50px;
}

.seis {
    font-size: 0.6rem;
}

.siete {
    font-size: 0.7rem;
}

.ocho {
    font-size: 0.8rem;
}

.nueve {
    font-size: 0.9rem;
}

.catorce {
    font-size: 1.4rem;
}

.quince {
    font-size: 15px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

.negrita {
    font-weight: bold;
}

br {
    display: block;
    /* makes it have a width */
    content: "";
    /* clears default height */
    margin-top: 4;
    /* change this to whatever height you want it */
}

.raya_rojo {
    color: #EE3A43;
    display: inline-block;
    font-size: 24.0pt;
}

.raya_azul {
    color: #0168B3;
    display: inline-block;
    font-size: 24.0pt;
}

.signature-container {
    border: 3px solid #fff;
}

.signature {
    float: left;
    padding-right: 3px;
}

.danger {
    color: #dc3545!important;
}
.success {
    color: #198754!important;
}
.secondary {
    color: #6c757d!important;
}