html {
    position: relative; /* Sticky footer styles */
    min-height: 100%;/* Sticky footer styles */
    overflow-y:scroll;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */ /* Sticky footer styles */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
    text-align: center;
}

/* Backgroun Color para la NanBar usando el azul de gobierno */
.bg-nav-gobierno {
    background-color: rgb(0,108,183);
}

.bg_azul_gob {
    background-color: #0168B3;
}

.bg_rojo_gob {
    background-color: #EE3A43;
}

.color_azul_gob {
    color: #0168B3;
}

.color_rojo_gob {
    color: #EE3A43;
}

.doc-digital {
    width: 30px;
    display: inline-block;
    background-image: url('data:image/svg+xml,<svg fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.1684 21.2551C13.1684 20.5428 12.6073 19.9805 11.8591 19.9805H3.03052C2.31974 19.9805 1.72119 20.5428 1.72119 21.2551C1.72119 21.9673 2.28233 22.5297 3.03052 22.5297H11.8591C12.6073 22.5297 13.1684 21.9673 13.1684 21.2551Z" fill="%23000"></path><path d="M10.1379 16.9074C10.1379 16.1951 9.57677 15.6328 8.82859 15.6328H1.30932C0.598548 15.6328 0 16.1951 0 16.9074C0 17.6197 0.561139 18.182 1.30932 18.182H8.866C9.53936 18.182 10.1379 17.6197 10.1379 16.9074Z" fill="%23000"></path><path d="M6.32202 14.2445H12.9061C13.6168 14.2445 14.2154 13.6822 14.2154 12.9699C14.2154 12.2576 13.6542 11.6953 12.9061 11.6953H6.32202C5.61124 11.6953 5.0127 12.2576 5.0127 12.9699C5.0127 13.6447 5.57383 14.2445 6.32202 14.2445Z" fill="%23000"></path><path d="M19.4901 0.411613C19.2657 0.186684 18.9664 0.0742188 18.6671 0.0742188H7.44436C6.8084 0.0742188 6.28467 0.599055 6.28467 1.23636C6.28467 1.87366 6.8084 2.39849 7.44436 2.39849H16.1981V8.20918C16.1981 8.24667 16.1981 8.24667 16.1981 8.28415C16.1981 8.32164 16.1981 8.32164 16.1981 8.35913C16.1981 8.95894 16.6844 9.44629 17.283 9.44629H23.7922V24.929H7.59399C6.95803 24.929 6.43431 25.4538 6.43431 26.0911C6.43431 26.7284 6.95803 27.2532 7.59399 27.2532H24.9145C25.5504 27.2532 26.0742 26.7284 26.0742 26.0911V7.53439C26.0742 7.23448 25.9619 6.93458 25.7375 6.70965L19.4901 0.411613ZM23.044 7.30946H18.3679V2.62342L23.044 7.30946Z" fill="%23000"></path></svg>');
}